__pycache__/
*.pyc
.DS_Store
outputs_results/*.npy
outputs_results/_per_city/
data/
data/processed/
artefacts/
.venv/
logs/
outputs_results/lastfm/
data/mind/
data/ml1m/
data/ml-1m/
data/lastfm-dataset-1K/
outputs_results/cornac/
